* {
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* a {
    color: #000000;
    text-decoration: underline;
}

* a:hover {
    text-decoration: none;
}

body {
    /* BG is taken from: https://www.pexels.com/photo/sunset-person-love-people-69096/ */
    background: url(../images/background.jpg) no-repeat center center fixed;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    text-align: center;
    display: table;
}

.container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
}

h1 {
    color: #FFFFFF;
    -webkit-text-shadow: 3px 3px rgba(0, 0, 0, .9);
    -moz-text-shadow: 3px 3px rgba(0, 0, 0, .9);
    text-shadow: 3px 3px rgba(0, 0, 0, .9);
}

.explanatory-text {
    display: table-cell;
    max-width: 700px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    color: #EFEFEF;
    word-wrap: normal;
    font-size: 1em;
    -webkit-text-shadow: 2px 2px rgba(0, 0, 0, .9);
    -moz-text-shadow: 2px 2px rgba(0, 0, 0, .9);
    text-shadow: 2px 2px rgba(0, 0, 0, .9);
}

.selection-button {
    width: 150px;
    height: 100px;
    line-height: 100px;
    background-color: #FFFFFF;
    display: inline-block;    
    margin: 20px;
    
    /* Text */
    color: #E74C3C;
    text-align: center;

    /* Shape */
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    
    /* Shadow */
    -webkit-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, .3);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, .3);
}

.selection-button:hover {
    /* Shadow */
    -webkit-box-shadow: 0px 0px 0px 0px rgba(43, 58, 66, .5);
    -moz-box-shadow: 0px 0px 0px 0px rgba(43, 58, 66, .5);
    box-shadow: 0px 0px 0px 0px rgba(43, 58, 66, .5);
}

@media screen and (min-width: 481px) {
    .mode-container {
        display: table-cell;
        width: 500px;
        min-height: 150px;
        background-color: #FFFFFF;
        padding: 10px;
        
        /* Shape */
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        
        /* Shadow */
        -webkit-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, .3);
        -moz-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, .3);
        box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, .3);
    }
}

@media screen and (max-width: 480px) {
    .mode-container {
        display: table-cell;
        width: 100%;
        min-height: 150px;
        background-color: #FFFFFF;
        padding: 10px;
        
        /* Shape */
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        
        /* Shadow */
        -webkit-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, .3);
        -moz-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, .3);
        box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, .3);
    }
}

.mode-container .header {
    position: relative;
    width: 100%;
    height: 50px;
    font-weight: bold;
    font-size: 2em;
}

.mode-container .content {
    position: relative;
    width: 100%;
    min-height: 100px;
}

.mode-container .footer {
    position: relative;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-right: 15px;
}

.mode-container .content button {
    width: 120px;
    height: 40px;   
}

.mode-container .content input {
    min-width: 120px;
    height: 40px;   
    outline: none;
}

.disabled {
    color: #2980B9;
}

.subscribed {
    background-color: #FFF;
    border: 1px solid #E74C3C;
    color: #E74C3C;
    outline: none;
    text-decoration: underline;
}

.unsubscribed {
    background-color: #FFF;
    border: 1px solid #2980B9;
    color: #2980B9;
    outline: none;
    text-decoration: underline;
}

.subscribed:hover {
    text-decoration: none;
}

.unsubscribed:hover {
    text-decoration: none;
}